<div class="preview__container">
  <main class="preview__printable" >
    <app-basic-info-view [basicInfo]="formData.basicInfo"></app-basic-info-view>

    <section class="preview__main-col" >
      <app-skills-info-view [skillsInfo]="formData.skillsInfo"></app-skills-info-view>
      <app-education-info-view [educationInfo]="formData.educationInfo"></app-education-info-view>
      <app-experience-info-view [experienceInfo]="formData.experienceInfo"></app-experience-info-view>
      <app-language-info-view [languageInfo]="formData.languageInfo"></app-language-info-view>
    </section>

  </main>
</div>

