<div class="editor" [style.overflow-y]="enableOverflowY ? 'auto' : 'visible'">

  <app-basic-info
    [basicInfo]="formData.basicInfo"
  ></app-basic-info>

  <app-skill-info
    [skillsInfo]="formData.skillsInfo"
  ></app-skill-info>

  <app-education-info
    [educationInfo]="formData.educationInfo"
  ></app-education-info>

  <app-experience-info
    [experienceInfo]="formData.experienceInfo"
  ></app-experience-info>

  <app-language-info
    [languageInfo]="formData.languageInfo"
  ></app-language-info>

  <div class="d-grid gap-2">
    <button class="btn btn-outline-primary"
            type="button"
            (click)="uploadData()">
      Submit</button>
  </div>

</div>
