<div class="general">

  <div class="image-container">
    <img src="assets/images/logo-berexia.png">
  </div>

  <mat-card class="card">
    <mat-card-content class="card-content">
      <mat-icon style="color: #008cff; padding-right:10px;">warning</mat-icon>
      Saisir un nouveau mot de passe
    </mat-card-content>
  </mat-card>

  <div class="example-container">
    <mat-form-field>
      <mat-label>Nouveau mot de passe</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="newPassword" autocomplete="new-password">
      <mat-icon matSuffix style="color: #008cff;">key</mat-icon>
    </mat-form-field>
  </div>

  <div class="example-container">
    <mat-form-field>
      <mat-label>Confirmer le nouveau mot de passe</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="confirmNewPassword"  autocomplete="new-password">
      <mat-icon matSuffix style="color: #008cff;">lock</mat-icon>
    </mat-form-field>
  </div>

  <button mat-fab extended
          (click)="resetPassword()">
    Réinitialiser</button>

  <a mat-flat-button routerLink="/login"
     style="background-color: transparent; color: black; text-decoration: underline;"
     (click)="cancelResetting()">
    Annuler
  </a>

  <div class="image-container image-footer">
    <img src="assets/images/footer-image.png">
  </div>

</div>
