<form class="form form__container form__education-info"
      [formGroup]="langForm"
      (ngSubmit)="submitLanguageInfo()"
      (keydown)="onKeyDown($event)">
  <h1 class="form-title">LANGUES</h1>
  <div class="form-banner__container">
    <app-form-banner *ngFor="let langInfo of languageInfo"
                     [id]="langInfo.id"
                     [subText]="langInfo.language"
                     [selectedId]="selectedId"
                     (deleteItem)="deleteLanguageInfo(langInfo.id)"
                     (editItem)="editLanguageInfo(langInfo.id)"
    ></app-form-banner>
  </div>
  <fieldset class="form-fieldset form__education-info">
    <label class="form-label">
      <span class="form-label__title">Langue :</span>
      <input type="text"
             name="language"
             class="form-input form-input__education-institution"
             formControlName="language"
      />
    </label>
    <label class="form-label">
      <span class="form-label__title">Parler :</span>
      <select
        name="speak"
        class="form-input form-input__job-title"
        formControlName="speak"
      >
        <option *ngFor="let proficiency of proficiencyOptions" [value]="proficiency">{{ proficiency }}</option>
      </select>
    </label>
    <label class="form-label">
      <span class="form-label__title">Lire :</span>
      <select
        name="read"
        class="form-input form-input__job-title"
        formControlName="read"
      >
        <option *ngFor="let proficiency of proficiencyOptions" [value]="proficiency">{{ proficiency }}</option>
      </select>
    </label>
    <label class="form-label">
      <span class="form-label__title">Ecrire :</span>
      <select
        name="write"
        class="form-input form-input__job-title"
        formControlName="write"
      >
        <option *ngFor="let proficiency of proficiencyOptions" [value]="proficiency">{{ proficiency }}</option>
      </select>
    </label>
  </fieldset>
  <button type="submit" class="btn btn__submit">Soumettre</button>
</form>
