.horizontal-div {
    display: flex;
    flex-direction: row;

    //background: #f4f7fa;
    box-sizing: border-box;

    > * {
        margin-right: 3rem;
        margin-left: 3rem;
    }
}
.gray-box {
  background-color: #b09f9f;
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
}

.white-box {
  background-color: #cbc3c3;
  padding: 10px;
  display: inline-block;
  border-radius: 10px;
}

.vertical-div {
    display: flex;
    flex-direction: column;
    //background: #f4f7fa;
    box-sizing: border-box;

    > * {
        margin: 1rem;
    }
}

.top-card{
    height: 15rem;
    width: 50rem;
    border-radius: 3rem;

    display: flex;
    flex-direction: column;

    > * {
        margin: 2.5rem;
    }
}

.bottom-card{
    height: 25rem;
    width: 50rem;
    border-radius: 3rem;

    display: flex;
    flex-direction: column;

    > * {
        margin: 2.5rem;
    }
}

.icon {
    text-align: center;
}
